<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>
</head>
html {
    background: #e3e3e3;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 4em;
    margin: 0;
}

p {
    line-height: 1.4em;
    width: 600px;
}

img{
    width:600px;

}

#blog {
    border-top: 1px dotted #ccc;
    font-size: 1em;
}

.blog-post {
    border-bottom: 1px dotted #ccc;

}

article {
    border-bottom: 1px solid #000;
}

a[href$="https://en.wikipedia.org/wiki/Glacier_National_Park_(U.S.)"] {
        font-style:italic
}

