<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style</title>
</head>
html {
    background: #e3e3e3;
}

header { 
    background: rgb(166, 207, 177);
    position: sticky;
    top: 0;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    line-height: 1.4em;
    width: 400px;
    
}

img{
    float: left;
    width: 200px;
    border-right: 10px solid #fff;

}

#blog {
    font-size: 1em;
    display: flex;

}

.blog-post {
    border-bottom: 1px dotted #ccc;

}

article {
    border-bottom: 1px solid #000;
}

article:nth-of-type(1) {
    flex: 200px;
    margin-right: 40px;
}

article:nth-of-type(2) {
    flex: 200px; }

a[href$="https://en.wikipedia.org/wiki/Glacier_National_Park_(U.S.)"] {
        font-style:italic
}


